ENV=development
BACKEND_API_URL=https:/$()/api-dev.dump-in.co.kr/app/api
S3_BUCKET_NAME=api-dev.dump-in.co.kr
S3_ACCESSKEY_ID=AKIA2MDWSFM6EEDYYNMZ
S3_SECRET_ACCESSKEY=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
NAVER_LOGIN_CONSUMER_KEY=ji5vu5qZOVy8WaXAoJSP
NAVER_CONSUMER_SECRET=rxarsLeCXz
NAVER_MAP_API_ID=sc9favxy2w
NAVER_MAP_API_KEY=34Pab6RRd33rPCqGq4lcXcrkUKE7ogsx9nlAzFfo
